<div id="home-view" ng-init="$ctrl.onPageLoad()">
  <nav class="kb-header">
    <div class="header-title">
      <h1>2nd Annual Arian Ghavidel Memorial Bracket Challenge</h1>
    </div>
    <ul>
      <li><a href="#/home"> Home </a></li>
      <li><a href="#/brackets"> All Brackets </a></li>
      <li ng-hide="!$ctrl.signedIn"><a ng-href="#/brackets/{{$ctrl.currentUser._id}}"> My Bracket </a></li>
      <li ng-hide="$ctrl.signedIn"><a href="#/sign-in"> Sign In </a></li>
      <li ng-hide="!$ctrl.signedIn"><a href="#/sign-out"> Sign Out </a></li>
      <li ng-hide="$ctrl.signedIn"><a href="#/sign-up"> Sign Up </a></li>
    </ul>
  </nav>
  <section>
    <audio src="{{$ctrl.audioSrc}}" autoplay loop="true">

    </audio>
    <article class="scoring-info">
      <h2> Scoring Info </h2>
      <p> You get 1 point for each winner you get right in the first round, 2 for each right answer in the conference semis, 4 for the conference finals and 8 for picking the champs correctly. If you pick the winner for a series, you get 1 <b>BONUS</b> point for picking the series length regardless of what round that series is in. </p>
    </article>
    <div class="home-bracket">
      <h3>NBA Playoffs</h3>
      <ul class="bracket-header">
        <li class="kb-column"> First Round </li>
        <li class="kb-column"> Conference Semis </li>
        <li class="kb-column"> Conference Finals </li>
        <li class="kb-column"> Finals </li>
        <li class="kb-column"> Conference Finals </li>
        <li class="kb-column"> Conference Semis </li>
        <li class="kb-column"> First Round </li>
      </ul>
      <div class="kb-line"></div>
      <ul>
        <li class="kb-column first-column">
          <div class="home-series">
            <div class="team top">
              <p class="team-seed">(1)</p>
              <p class="team-name">{{$ctrl.west.one.name}}</p>
              <p>0</p>
            </div>
            <div class="team bottom">
              <p class="team-seed">(8)</p>
              <p class="team-name">{{$ctrl.west.eight.name}}</p>
              <p>0</p>
            </div>
          </div>
          <div class="home-series">
            <div class="team top">
              <p class="team-seed">(4)</p>
              <p class="team-name">{{$ctrl.west.four.name}}</p>
              <p>0</p>
            </div>
            <div class="team bottom">
              <p class="team-seed">(5)</p>
              <p class="team-name">{{$ctrl.west.five.name}}</p>
              <p>1</p>
            </div>
          </div>
          <div class="home-series">
            <div class="team top">
              <p class="team-seed">(3)</p>
              <p class="team-name">{{$ctrl.west.three.name}}</p>
              <p>0</p>
            </div>
            <div class="team bottom">
              <p class="team-seed">(6)</p>
              <p class="team-name">{{$ctrl.west.six.name}}</p>
              <p>0</p>
            </div>
          </div>
          <div class="home-series">
            <div class="team top">
              <p class="team-seed">(2)</p>
              <p class="team-name">{{$ctrl.west.two.name}}</p>
              <p>1</p>
            </div>
            <div class="team bottom">
              <p class="team-seed">(7)</p>
              <p class="team-name">{{$ctrl.west.seven.name}}</p>
              <p>0</p>
            </div>
          </div>
        </li>
        <li class="kb-column second-column">
          <div class="home-series">
            <div class="team top">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.one.winner}}</p>
              <p>0</p>
            </div>
            <div class="team bottom">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.two.winner}}</p>
              <p>0</p>
            </div>
          </div>
          <div class="home-series">
            <div class="team top">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.three.winner}}</p>
              <p>0</p>
            </div>
            <div class="team bottom">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.four.winner}}</p>
              <p>0</p>
            </div>
          </div>
        </li>
        <li class="kb-column third-column">
          <div class="home-series">
            <div class="team top">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.nine.winner}}</p>
              <p>0</p>
            </div>
            <div class="team bottom">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.ten.winner}}</p>
              <p>0</p>
            </div>
          </div>
        </li>
        <li class="kb-column fourth-column">
          <div class="home-series">
            <div class="team top">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.thirteen.winner}}</p>
              <p>0</p>
            </div>
            <div class="team bottom">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.fourteen.winner}}</p>
              <p>0</p>
            </div>
          </div>
        </li>
        <li class="kb-column third-column">
          <div class="home-series">
            <div class="team top">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.eleven.winner}}</p>
              <p>0</p>
            </div>
            <div class="team bottom">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.twelve.winner}}</p>
              <p>0</p>
            </div>
          </div>
        </li>
        <li class="kb-column second-column">
          <div class="home-series">
            <div class="team top">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.five.winner}}</p>
              <p>0</p>
            </div>
            <div class="team bottom">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.six.winner}}</p>
              <p>0</p>
            </div>
          </div>
          <div class="home-series">
            <div class="team top">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.seven.winner}}</p>
              <p>0</p>
            </div>
            <div class="team bottom">
              <p class="team-seed"></p>
              <p class="team-name">{{$ctrl.master.eight.winner}}</p>
              <p>0</p>
            </div>
          </div>
        </li>
        <li class="kb-column first-column">
          <div class="home-series">
            <div class="team top">
              <p class="team-seed">(1)</p>
              <p class="team-name">{{$ctrl.east.one.name}}</p>
              <p>0</p>
            </div>
            <div class="team bottom">
              <p class="team-seed">(8)</p>
              <p class="team-name">{{$ctrl.east.eight.name}}</p>
              <p>0</p>
            </div>
          </div>
          <div class="home-series">
            <div class="team top">
              <p class="team-seed">(4)</p>
              <p class="team-name">{{$ctrl.east.four.name}}</p>
              <p>0</p>
            </div>
            <div class="team bottom">
              <p class="team-seed">(5)</p>
              <p class="team-name">{{$ctrl.east.five.name}}</p>
              <p>0</p>
            </div>
          </div>
          <div class="home-series">
            <div class="team top">
              <p class="team-seed">(3)</p>
              <p class="team-name">{{$ctrl.east.three.name}}</p>
              <p>0</p>
            </div>
            <div class="team bottom">
              <p class="team-seed">(6)</p>
              <p class="team-name">{{$ctrl.east.six.name}}</p>
              <p>1</p>
            </div>
          </div>
          <div class="home-series">
            <div class="team top">
              <p class="team-seed">(2)</p>
              <p class="team-name">{{$ctrl.east.two.name}}</p>
              <p>1</p>
            </div>
            <div class="team bottom">
              <p class="team-seed">(7)</p>
              <p class="team-name">{{$ctrl.east.seven.name}}</p>
              <p>0</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <article class="leaderboard">
      <h2> Leaderboard </h2>
      <ul>
        <li class="kb-labels">
          <p> Name </p>
          <p> Champ Pick </p>
          <p> Score </p>
        </li>
        <li ng-repeat="user in $ctrl.users | orderBy: '-score'" class="home-users">
          <p> {{user.name}} </p>
          <p> {{user.bracket.seriesFifteen.winner}} </p>
          <p> {{user.score}} </p>
        </li>
      </ul>
    </article>
  </section>
</div>
