<div id="home-view">
  <nav>
    <ul>
      <li><a href="#"> Home </a></li>
      <li><a href="#"> All Brackets </a></li>
      <li><a href="#"> My Bracket </a></li>
      <li><a href="#"> Sign In </a></li>
      <li><a href="#"> Sign Out </a></li>
      <li><a href="#"> Sign Up </a></li>
    </ul>
  </nav>
  <section>
    <article>
      <h2> Scoring Info </h2>
      <p> You get 1 point for each winner you get right in the first round, 2 for each right answer in the conference semis, 4 for the conference finals and 8 for picking the champs correctly. If you pick the winner for a series, you get 1 <b>BONUS</b> point for picking the series length regardless of what round that series is in. </p>
    </article>
    <article>
      <h2>Actual Bracket</h2>
      <kb-single-bracket></kb-single-bracket>
    </article>
    <article>
      <h2> Leaderboard </h2>
      <ul>
        <li>
          <p> Name </p>
          <p> Champ Pick </p>
          <p> Score </p>
        </li>
        <li ng-repeat="user in $ctrl.users | orderBy: '-score'">
          <p> user.name </p>
          <p> user.bracket.finals.winner </p>
          <p> user.score </p>
        </li>
      </ul>
    </article>
  </section>
  <div class="kb-footer">

  </div>

</div>
