<div id="home-view">
  <nav>
    <ul>
      <li> Home </li>
      <li> All Brackets </li>
      <li> Sign In </li>
      <li> Sign Up </li>
      <li> Sign Out </li>
    </ul>
  </nav>
  <section>
    <h2> Scoring Info </h2>
    <p> You get 1 point for each winner you get right in the first round, 2 for each right answer in the conference semis, 4 for the conference finals and 8 for picking the champs correctly. If you pick the winner for a series, you get 1 bonus point for picking the series length regardless of what round that series is in.</p>
  </section>

</div>
