<div class="single-bracket">
  <h3>{{$ctrl.user.name}}'s Bracket</h3>
  <ul class="bracket-header">
    <li class="kb-round"> First Round </li>
    <li class="kb-round"> Conference Semis </li>
    <li class="kb-round"> Conference Finals </li>
    <li class="kb-round"> Finals </li>
    <li class="kb-round"> Conference Finals </li>
    <li class="kb-round"> Conference Semis </li>
    <li class="kb-round"> First Round </li>
  </ul>
  <ul>
    <li class="kb-round first-round">
      <kb-series teamOne="$ctrl.west.one.name" teamTwo="$ctrl.west.eight.name" length="$ctrl.user.bracket.seriesOne.length" winner="$ctrl.user.bracket.seriesOne.winner"></kb-series>
      <kb-series teamOne="$ctrl.west.four.name" teamTwo="$ctrl.west.five.name" length="$ctrl.user.bracket.seriesTwo.length" winner="$ctrl.user.bracket.seriesTwo.winner"></kb-series>
      <kb-series teamOne="$ctrl.west.three.name" teamTwo="$ctrl.west.six.name" length="$ctrl.user.bracket.seriesThree.length" winner="$ctrl.user.bracket.seriesThree.winner"></kb-series>
      <kb-series teamOne="$ctrl.west.two.name" teamTwo="$ctrl.west.seven.name" length="$ctrl.user.bracket.seriesFour.length" winner="$ctrl.user.bracket.seriesFour.winner"></kb-series>
    </li>
    <li class="kb-round second-round">
      <kb-series teamOne="$ctrl.user.bracket.seriesOne.winner" teamTwo="$ctrl.user.bracket.seriesTwo.winner" length="$ctrl.user.bracket.seriesNine.length" winner="$ctrl.user.bracket.seriesNine.winner"></kb-series>
      <kb-series teamOne="$ctrl.user.bracket.seriesThree.winner" teamTwo="$ctrl.user.bracket.seriesFour.winner" length="$ctrl.user.bracket.seriesTen.length" winner="$ctrl.user.bracket.seriesTen.winner"></kb-series>
    </li>
    <li class="kb-round third-round">
      <kb-series teamOne="$ctrl.user.bracket.seriesNine.winner" teamTwo="$ctrl.user.bracket.seriesTen.winner" length="$ctrl.user.bracket.seriesThirteen.length" winner="$ctrl.user.bracket.seriesThirteen.winner"></kb-series>
    </li>
    <li class="kb-round fourth-round">
      <h4> Champion: </h4>
      <h4> {{$ctrl.user.bracket.seriesFifteen.winner}} </h4>
      <kb-series teamOne="$ctrl.user.bracket.seriesThirteen.winner" teamTwo="$ctrl.user.bracket.seriesFourteen.winner" length="$ctrl.user.bracket.seriesFifteen.length" winner="$ctrl.user.bracket.seriesFifteen.winner"></kb-series>
    </li>
    <li class="kb-round third-round">
      <kb-series teamOne="$ctrl.user.bracket.seriesEleven.winner" teamTwo="$ctrl.user.bracket.seriesTwelve.winner" length="$ctrl.user.bracket.seriesFourteen.length" winner="$ctrl.user.bracket.seriesFourteen.winner"></kb-series>
    </li>
    <li class="kb-round second-round">
      <kb-series teamOne="$ctrl.user.bracket.seriesFive.winner" teamTwo="$ctrl.user.bracket.seriesSix.winner" length="$ctrl.user.bracket.seriesEleven.length" winner="$ctrl.user.bracket.seriesEleven.winner"></kb-series>
      <kb-series teamOne="$ctrl.user.bracket.seriesSeven.winner" teamTwo="$ctrl.user.bracket.seriesEight.winner" length="$ctrl.user.bracket.seriesTwelve.length" winner="$ctrl.user.bracket.seriesTwelve.winner"></kb-series>
    </li>
    <li class="kb-round first-round">
      <kb-series teamOne="$ctrl.east.one.name" teamTwo="$ctrl.east.eight.name" length="$ctrl.user.bracket.seriesFive.length" winner="$ctrl.user.bracket.seriesFive.winner"></kb-series>
      <kb-series teamOne="$ctrl.east.four.name" teamTwo="$ctrl.east.five.name" length="$ctrl.user.bracket.seriesSix.length" winner="$ctrl.user.bracket.seriesSix.winner"></kb-series>
      <kb-series teamOne="$ctrl.east.three.name" teamTwo="$ctrl.east.six.name" length="$ctrl.user.bracket.seriesSeven.length" winner="$ctrl.user.bracket.seriesSeven.winner"></kb-series>
      <kb-series teamOne="$ctrl.east.two.name" teamTwo="$ctrl.east.seven.name" length="$ctrl.user.bracket.seriesEight.length" winner="$ctrl.user.bracket.seriesEight.winner"></kb-series>
    </li>
  </ul>
</div>
