<div class="single-bracket">
  <ul>
    <li>
      <ul>
        <li> First Round </li>
        <li> Conference Semis </li>
        <li> Conference Finals </li>
        <li> Finals </li>
        <li> Conference Finals </li>
        <li> Conference Semis </li>
        <li> First Round </li>
      </ul>
    </li>
    <li class="bracket-round">
      <p>  </p>
      <p>  </p>
      <p>  </p>
    </li>
    <li class="bracket-round"></li>
    <li class="bracket-round"></li>
    <li class="bracket-round"></li>
    <li class="bracket-round"></li>
    <li class="bracket-round"></li>
    <li class="bracket-round"></li>
    </ul>
</div>
