<div id="sign-out-view">
  <nav class="kb-header">
    <div class="header-title">
      <h1>2nd Annual Arian Ghavidel Memorial Bracket Challenge</h1>
    </div>
    <ul>
      <li><a href="#/home"> Home </a></li>
      <li><a href="#/brackets"> All Brackets </a></li>
      <li><a href="#/sign-in"> Sign In </a></li>
      <li><a href="#/sign-out"> Sign Out </a></li>
    </ul>
  </nav>
  <form class="sign-out" ng-submit="$ctrl.signOut()">
    <p>Are you sure you want to Sign Out?</p>
    <button type="submit">Sign Out</button>
  </form>
</div>
