<div id="bracket-view">
  <nav>
    <ul>
      <li><a href="#"> Home </a></li>
      <li><a href="#"> All Brackets </a></li>
      <li><a href="#"> Sign In </a></li>
      <li><a href="#"> Sign Out </a></li>
      <li><a href="#"> Sign Up </a></li>
    </ul>
  </nav>
  <section>
    <ul>
      <li ng-repeat="user in $ctrl.allUsers">
        <ul>
          <li> First Round </li>
          <li> Conference Semis </li>
          <li> Conference Finals </li>
          <li> Finals </li>
        </ul>
        <ul>
          <li>
            
          </li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </li>
    </ul>
  </section>
  <div class="kb-footer">

  </div>
</div>
